@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body, html {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.form-page-title, .form-label{
    color: #223263;
}

.sign-in-link{
    
}

.form-label{
    font-weight: 700;
}

.warn-msg{
    color: red;
    text-shadow: red;
    font-size: 11pt;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 8px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  .hide-password{
    cursor: pointer;
  }

  .hero{
    background-color: grey;
    width: 100%;
    height: 100vh;
  }

  .form-container{
    height: fit-content;
    width: 90%;
    max-width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: flex;

    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .sub-form-container{
    width: 90%;
  }

  .btn-login, .btn-sign-up{
    background-color: #169EDA;
    border: none;
  }

  .btn-login:hover,
  .btn-login:focus,
  .btn-sign-up:hover,
  .btn-sign-up:focus {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #169EDA;
}

.role-icon{
    font-size: 9pt;
}
