.classCard__upper {
  background-color: #53D1B6;
  height: 110px;
  position: relative;
  color: white;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
}
.classCard__upper:hover{
  background-color: #28a489;
}

.icon{
  color: #53D1B6;
}

.classCard {
  margin: 1%;
  margin-left: 9%;
  width: 80%;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.classCard__middle {
  margin: 10px;
  height: 50px;
  border-bottom: 1px solid #dcdcdc;
}

.classCard__creatorPhoto {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 5px;
  border-radius: 9999px;
}

.classCard__className {
  font-weight: 600;
  font-size: 30px;
}

.classCard__creatorName {
  bottom: 12px;
  font-size: 15px;
  color: black;

}

.classCard__lower {
  display: flex;
  flex-direction: row-reverse;
}

.deskripsi {
  margin-right: 100px;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}

@media screen and (max-width: 960px) {
  .classCard {
    margin: 1%;
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .classCard__className {
    font-weight: 300px;
    font-size: 20px;
  }
  .classCard__creatorPhoto {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 5px;
    border-radius: 9999px;
  }

  .classCard__middle {
    height: 90px;
    border-bottom: 1px solid #dcdcdc;
  }

  .deskripsi {
    margin-top: 20px;
    margin-right: 0px;
  }

  .classCard__creatorName {
    margin-right: 60px;
  }
}

