.carousel-item img{
    height: 500px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 70px;
    width: 70px;
    outline: #09bef0;
    background-color: #53D1B6;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid #09bef0;
}

@media screen and (max-width: 960px) {
    .carousel-item img{
        height: 200px;
    }
    .carousel-caption{
        font-size: 50%;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        margin: 5px;
        height: 40px;
        width: 40px;
    }
}