

.tambah-diskusi{
    width: 100%;
    padding : 5%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.tambah-diskusi:hover{
    background-color: #53D1B6;
}


.kembali{
    display: flex;
    align-items: none;
}

.kembali:hover{
    color: #044b5d;
    cursor: pointer;
}

.text-center{
    font-size: 3rem;
}

.btn{
    color: aliceblue;
    background-color: #09bef0;
}

.btn:hover{
    color: aliceblue;
    background-color: #045267;
}

.img-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.show-container{
    width: 100%;
    height: fit-content;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    display: flex;
    border: none;
}

.btn-buat-diskusi{
    width: 120px;
}

@media screen and (max-width: 960px) {
    .text-center{
        font-size: 2rem;
    }
    .tambah-diskusi{
        background-color: #53D1B6;
    }
}