@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

html, body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#main-container{
    height: 80%;
    width: 90%;
    min-width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: flex;

    justify-content: center;
    align-items: center;
}

#registrasi-akun, .lupa-password, #sign-in{
    font-weight: 700;
}

.lupa-passwword-regist p{
    line-height: 20px;
}

.sign-regist-container{
width: 100%;
}

.btn-sign-in {
    background-color:#169EDA;
    border: none;
}

.btn-sign-in:hover{
    background-color:#53D1B6;
}

.btn-sign-up{
    background-color: #169EDA;
    border: none;
}

.btn-sign-up:hover{
    background-color:#53D1B6;
}

#sign-in-link, #sign-up-link{
    text-decoration: none;
    font-weight: 700;
    color: #223263;
}

.login-page-title, .sign-up-page-title {
    color: #223263;
}

#sign-in-link:hover, #sign-up-link:hover {
    color: #169EDA;
}